:root{
    --text-color: #85859B; 
    --text-lil-color:#B5B5BD;
    font-family: Roboto,sans-serif;
    margin:1.1rem  1.5rem 0 1.5rem;
    font-weight: 400;
    word-wrap: break-word;
    font-size: 62.5%;
    --main-background-color: "#FFFFFF";
    --dark-blue:#4C5866;
    --violet:#7875FE;
    --grey:#C4C4C4;
    --true-grey:#666666;


}
p{
    color: var(--text-color);
    font-size:1.6rem;
    

}
.zag1 {
    color:var(--dark-blue);
    font-size:3rem;
    font-weight: 400;
    line-height: 3rem;  
   
}
.zag2
{
    color: var(--true-grey);
    font-size:2.4rem;
 
    font-weight: 400;
    line-height: 2.4rem;
    
}
.lil
{
    color: var(--text-lil-color);
    font-size:1.4rem;    
   
}
.back
{
   
    background-color:var(--grey);
    padding-top: 0rem;
    padding-bottom: 0rem;

}
.vst
{
    color: var(--true-grey);
    font-size:1.6rem;
    font-weight: 500;
}
.end
{
    color: var(--dark-blue);
    font-size:1.3rem;
    text-align:center;


}
.back1
{
   
    background-color:var(--dark-blue);
    margin:0 0 0 0;


}
.butbord
{
    color:var(--violet);
    font-size: 18;
    background-color:var(--main-background-color);
    padding:2rem 5rem; 
    border: 0.1rem var(--violet) solid;
     justify-content: center; 
     align-items: center; gap: 6rem; 
     display: inline-flex;

}

button{ display:none; }
