:root{
    --text-color: #85859B;
    --text-lil-color:#B5B5BD;
    --main-background-color: "#FFFFFF";
    --dark-blue:#4C5866;
    --violet:#7875FE;
    --grey:#C4C4C4;
    --true-grey:#666666;
    --down:#DDDDDD;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    font-size: 62.5%;
}
html {
    box-sizing: border-box;
  }
*{
    box-sizing: border-box;
}
p{
    color: var(--text-color);
    font-size:1.6rem;
    padding-left: 1.5rem ;
}
button{
    border:none;
    background-color: transparent;
}
img{
    padding:0 1.5rem ;
}
a{
    text-decoration: none;
    
}
footer{
    justify-content: space-between; /* или другие значения в зависимости от макета */
    align-items: center;
}
header{
    justify-content: space-between; /* или другие значения в зависимости от макета */
    align-items: center;
}

.maintheme {
    margin-left: 0;
    margin-right: 0;
}
.zag1{
    color:var(--dark-blue);
    font-size:3rem;
    font-weight: 400;
    line-height: 3rem;
    padding:0 1.6rem ;
 
}
.zag2 {
    color: var(--true-grey);
    font-size:2.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    padding:0 1.6rem ;
}
.lil {
    color: var(--text-lil-color);
    font-size:1.4rem;
    padding:0 1.6rem ;
}
.back {
    background-color:var(--grey);
    display:grid;
}
.vst {
    color: var(--true-grey);
    font-size:1.6rem;
    font-weight: 500;
}
.end {
    color: var(--dark-blue);
    font-size:1.3rem;
    text-align:center;
}
.back1 {
    background-color:var(--dark-blue);
    padding:2rem 0;
}
.butbord {
    color:var(--violet);
    font-size: 1.8rem;
    background-color:var(--main-background-color);
    padding:2rem 5rem ;
    margin-left:1.5rem;
    border: 0.1rem var(--violet) solid;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    display: inline-flex;
    box-shadow:0.7rem 0.7rem rgba(0,0,0,0.5);
}
.down {
    background-color:var(--down);
    padding-top:0.3rem ;

}
.sec3pad {
    margin:4rem 0rem 6rem 0rem;
}
.pcenter {
    text-align: center;
}
.more 
{
    color: var(--violet);
    font-size:2rem;
    
    
}
.more img 
{
    padding: 0 0 0 0.5rem;
}

.leftfoto{
    float:left;
    margin: 0 1.4rem 0.2rem 0; 
    
   
    
}
.vphoto{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#id_up{

    text-align: center;
    margin-bottom: 2.7rem;
    margin-top: 1.05rem;
}

#id_head_under{
    margin-top: 12.1rem;
    margin-bottom: 4.9rem ;
}
#id_head{
    margin-top:3.7rem;
    margin-bottom: 1.5rem;
}

#id_logo {
    text-align-last: center;
    padding-top: 1.05rem ;
    padding-bottom: 2.7rem;
}

#id_list {
    position:absolute;
}
#id_search {
    padding-left: 21.2rem;
    position:absolute;
}
#id_log-in {
    padding-left: 26.6rem;
    position:absolute;
}
#id_sec2p {
    margin-top: 8rem;
    word-wrap: break-wor;
}
#id_logodown {
    text-align: center;
    padding-bottom: 4.1rem;
}
