:root{
    --text-color: #85859B;
    --text-lil-color:#B5B5BD;
    --main-background-color: "#FFFFFF";
    --dark-blue:#4C5866;
    --violet:#7875FE;
    --grey:#EBEBEB;
    --true-grey:#666666;
    --down:#DDDDDD;
    --kar:#C0C0C0;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    font-size: 62.5%;
    margin: 0;
}
html {
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
}
p{
    color: var(--text-color);
    font-size: calc(1.6rem + 0.5vw);
    padding-left: 1.5rem ;
    max-width: 90%;
}
button{
    border:none;
    background-color: transparent;
    max-width: 90%;
}
img{
   /* padding:0 1.5rem ;
    */
    max-width: 100%;
}
a{
    text-decoration: none;
}
footer{
    justify-content: space-between;
   /* или другие значения в зависимости от макета */
    align-items: center;
}
header{
    justify-content: space-between;
   /* или другие значения в зависимости от макета */
    align-items: center;
}
.wrapper {
    
    max-width:1440px;
    
   /* justify-content: center;
    */
}
.stgrey{
    border-top: 1px solid var(--text-lil-color);
    border-bottom: 0.1rem solid var(--text-lil-color);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}
.zag1{
    color:var(--dark-blue);
    font-size:calc(3rem + 0.5vw);
    font-weight: 400;
    line-height: 3rem;
    padding:0 1.6rem ;
    max-width: 90%;
}
.zag2 {
    color: var(--true-grey);
    font-size:calc(2.4rem + 0.5vw);
    font-weight: 400;
    line-height: 2.4rem;
    padding:0 1.6rem ;
    max-width: 90%;
    line-height: 1.5;
}
.lil {
    color: var(--text-lil-color);
    font-size:calc(1.4rem + 0.5vw);
    padding:0 1.6rem ;
}
.card {
    display:grid;
    padding: 1.5rem;
    grid-template-areas:"card1 " "card2" "card3";
}
.greyline{
    border-top: 0.1rem solid var(--text-lil-color);
    padding-top: 3rem;
    margin-left: 4%;
}
.crd1 p{
    margin:0;
}
.crd1{
    margin-top:8rem;
    margin-bottom:2rem;
    grid-area: card1;
}
.crd2 p{
    margin:0;
}
.crd2{
    margin-top:2rem;
    margin-bottom:2rem;
    grid-area: card2;
}
.crd3 p{
    margin:0;
}
.crd3{
    margin-top:2rem;
    margin-bottom:2rem;
    grid-area: card3;
}
.leftfoto{
    float:left;
    margin: 0 1.4rem 0.2rem 0;
}
.products {
    margin: 0;
    margin-top: 6rem;
    padding-left: 1.5rem;
    display: grid;
    grid-template-columns:1fr;
    gap:3rem 
}
.head{
    display:flex;
    justify-self: stretch;
    padding-right: 6%;
    margin-bottom: 0;
}
.back {
    background-color:var(--grey);
    background-size: cover;
    padding-bottom:3rem;
}
.vst {
    color: var(--true-grey);
    font-size:calc( 1.6rem + 0.5vw);
    font-weight: 500;
}
.end {
    color: var(--dark-blue);
    font-size:calc(1.3rem + 0.5vw);
    text-align:center;
}
.back1 {
    background-color:var(--dark-blue);
    background-size: cover;
    padding:2rem 0;
}
.back1 img{
    padding:0;
}
.butbord {
    color:var(--violet);
    font-size: calc(1.8rem + 0.5vw);
    background-color:var(--main-background-color);
    padding:2rem 5rem ;
    margin-left:1.5rem;
    border: 0.1rem var(--violet) solid;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    display: inline-flex;
    margin-bottom: 4.9rem ;
}
.down {
    background-color:var(--down);
    padding-top:0.3rem ;
    max-width: 100%;
}
.sec3pad {
    margin:4rem 0rem 6rem 0rem;
}
.special1{
    margin-top: 6rem;
}
.seck{
    grid-area: kartinka;
}
.seckt{
    grid-area: text;
}
.pcenter {
    text-align: center;
}
.more {
    color: var(--violet);
    font-size:calc(2rem + 0.5vw);
}
.more img {
    padding: 0 0 0 0.5rem;
}
.karusel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 1.5rem;
    gap: 3rem;
    justify-content: center;
    align-content: center;
    background-color: var(--grey);
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.karuselbord img{
    height: 90%;
    width: 90%;
    padding:1.5rem 2rem;
    align-content: center;
    border: 0.2rem #b0b2b7 solid;
}
.head_under{
    margin-top:4.9rem;
}
.tube {
    display: none;
}
.tube2{
    display: none;
}
.tube3{
    display: none;
}
.hide{
    display: none;
}
.menu{
    display: none;
}
.sketch {
    padding-left: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
    gap:2rem;
    margin-top: 6rem;
}
.sketchtxt{
    margin-top: 0;
}
/* для формы */
.page {
    position: sticky;
    top: 100vh;
}
.fixed-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.stroka {
    display: flex;
    gap: 1.5rem;
    padding-top:1rem ;
}
.knopka{
    color:var(--violet);
    font-size: calc(1.2rem + 0.5vw);
    background-color:var(--main-background-color);
    padding:1rem 1rem ;
    margin-left:1.5rem;
    border: 0.1rem var(--violet) solid;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    display: inline-flex;
    margin-bottom: 4.9rem ;
}
.knop{
    display:flex;
   /* grid-template-columns: 1fr;
    */
    gap: 1rem;
    margin-top:2rem ;
    margin-bottom: 1rem;
}
.contan{
    padding-top: 1rem;
    display:flex;
    flex-direction: column;
    gap: 1rem;
}
.privet{
    display: flex;
    flex-direction: column;
    gap:1rem 
}
.forma{
    padding-left: 4%;
}
.f-1{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(25rem, 1fr));
    margin-top: 3rem;
    gap:rem;
}
.f-2{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(25rem, 1fr));
    margin-bottom: 3rem;
    gap:1rem;
}
input{
    font-family: Roboto,sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    margin: 0;
    color: var(--true-grey);
    font-size:calc( 1.1rem + 0.5vw);
}
label{
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: larger;
    word-wrap: break-word;
    color: var(--dark-blue);
    margin: 0;
    font-size:calc( 1.2rem + 0.5vw);
}
legend {
    font-family: Roboto,sans-serif;
    font-weight: 600;
    font-size: larger;
    word-wrap: break-word;
    color: var(--dark-blue);
    margin: 0;
    font-size:calc( 1.7rem + 0.5vw);
}
option{
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: larger;
    word-wrap: break-word;
    color: var(--dark-blue);
    margin: 0;
    font-size:calc( 1.2rem + 0.5vw);
}
fieldset {
    border: none;
}
input{
    border: 0.1rem solid var(--true-grey);
   /* Измените цвет подсветки синтаксисом вашего выбора */
}
input:focus{
    border: 2px solid var(--violet);
}
/*для grid*/
.conteiner{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:"panel other";
}
.box {
    grid-area: other;
    padding: 0 ;
    background-color: var(--down);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.dashbord {
    grid-area: panel;
    background-color:var(--dark-blue);
}
.largbocks{
    grid-column: 1/-1;
}
.smallbocks{
    grid-column: span 2;
}
.mediumbocks{
    grid-column: span 3;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(30rem, 1fr));
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
}
.item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 1;
    max-width: 100%;
    border-radius: 8px;
    justify-self: center;
    align-items: center;
}
.itemimg{
    grid-column: -1/1;
    grid-row-start: 1;
    max-width: 100%;
}
.itema{
    background-color: var(--grey);
    padding: 10px 20px;
    justify-self: center;
    align-items: center;
    grid-column: -1/1;
    grid-row-start: 1;
}
#id_up{
    text-align: center;
    margin-bottom: 2.7rem;
    margin-top: 1.05rem;
    align-self: grid-start;
    padding-left: 6%;
}
#id_social{
    display:flex;
    justify-content: center;
    gap: 3rem;
    justify-content:center;
}
#id_search {
    margin-left: auto;
}
#id_logodown {
    text-align: center;
    margin-bottom: 4.1rem;
}
@media screen and (min-width: 576px) {
    .wrapper {
   }
    .stgrey2{
        border-top: 0.1rem solid var(--text-lil-color);
        border-bottom: 0.1rem solid var(--text-lil-color);
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
   }
    img{
        max-width:100%;
   }
    button{
        max-width: 50%;
   }
   /* голова */
    .sick{
        display: none;
   }
    .golova{
        max-width: 100%;
        display: grid;
        grid-template-columns:1fr 1fr ;
        grid-template-rows: 1fr 1fr;
       /* margin: ;
       -left: 4%;
        */
        margin-top: 1rem;
   }
    .stgrey{
        border:none;
   }
    #id_up{
        margin: 0;
        grid-column:1;
        grid-row: 1;
        justify-self: start;
        align-self: center;
   }
    .head{
        grid-column:2;
        grid-row: 1;
        padding-left: 4%;
   }
    .menu{
        word-wrap:initial;
        display:grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 5.9rem;
        padding-left: 3.2rem;
        justify-items:stretch;
        grid-column: 1/3;
       /* align-self:center;
        */
   }
    .prod{
        grid-column: 1;
        align-self: center;
   }
    .mat{
        grid-column: 2;
        align-self: center;
   }
    .mi {
        align-self: center;
        justify-self: stretch;
        grid-column: 3;
   }
    .contac{
        grid-column: 4;
        align-self: center;
   }
   /* секция-1 описываем верх */
    .head_under{
        display: grid;
        grid-template-areas:"text tub";
        align-items: end;
        justify-items: stretch;
        padding-left: 4%;
   }
    .stgrey{
        border-top: 0px solid var(--text-lil-color);
        border-bottom: 0rem solid var(--text-lil-color);
        padding-top: 0rem;
        padding-bottom: 0rem;
   }
    .tube{
        display: block;
        grid-area: tub;
        align-self: stretch;
   }
    .tube img{
        display: block;
        object-fit: fill;
   }
    .z {
        grid-area: zag;
   }
    .knopka {
        grid-area: knopka;
   }
    .txt {
        align-self:center;
        grid-area: text;
   }
   /* секция-2 серая штука */
    .card {
        margin-bottom: 4rem;
        grid-template-areas:"card1 card2 card3";
        padding-left: 4%;
   }
    .crd2 {
        margin-top: 8rem;
   }
    .crd3 {
        margin-top: 8rem;
   }
    .leftfoto {
        float: none;
   }
    .sec3pad {
        margin:0;
   }
    .otstup1 {
        margin-top: 8rem;
   }
    .otstup2 {
        margin-top: 7.3rem;
   }
    .special1 {
        margin: 0;
   }
    .korob{
        padding-left: 4%;
   }
    .products {
        grid-template-columns:1fr 1fr;
        grid-template-row: 1fr 1fr;
        padding-left:4%;
   }
    .products p{
        padding-left: 0;
   }
   /* секция-4 серая карусель */
    .hide{
        display:flex;
   }
    .karusel {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-left: 4%;
   }
   /* секция-5 скетчбук */
    .sketch{
       padding-left: 4%;
   }
   /* футер */
    .nogi {
        display: grid;
        grid-template-areas: "logo social";
   }
    .log {
        grid-area: logo;
        justify-items: start;
   }
    .soc {
        grid-area: social;
        justify-items: end;
   }
    #id_logodown {
        margin-bottom: 0;
   }
}
@media screen and (min-width: 768px) {
   /* голова без изменений*/
   /* секция-1 описываем верх без изменений */
    .tube{
        display: none;
   }
    .tube2{
        display: block;
        grid-area: tub;
        align-self: stretch;
   }
    .tube2 img{
        display: block;
        object-fit: fill;
   }
   /* секция-2 серая штука */
    .korob {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        justify-content: stretch;
        align-content: center;
        margin-top: 5rem;
   }
    .white{
        grid-column: 1;
        grid-row: 1;
        justify-items: center;
        width: auto;
        align-items:center;
        align-self: center;
        margin: 0;
   }
    .greytext {
        grid-column: 2;
        grid-row: 1;
        justify-items: stretch;
        margin: 0;
   }
   /* секция-4 серая карусель */
    .hide{
        display:flex;
   }
    .karusel {
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr 1fr 1fr 1fr;
   }
   /* секция-5 скетчбук */
   /* футер */
    .nogi {
        display: grid;
        grid-template-areas: "logo social";
       /* align-items: center;
        */
   }
    .log {
        grid-area: logo;
        justify-items: start;
   }
    .soc {
        grid-area: social;
        justify-items: end;
   }
    #id_logodown {
        margin-bottom: 0;
   }
}
@media screen and (min-width: 992px) {
    .wrapper {
        /* max-width: 960px; */
   }
    img{
        max-width:100%;
   }
    button{
        max-width: 50%;
   }
   /* голова без изменений*/
    .golova{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 3fr 1fr;
   }
    .menu{
        grid-column: 2/3;
        padding-left: 0;
        align-items:center;
        justify-items: stretch;
   }
    #id_up{
        grid-column: 1/2;
        justify-self:center;
   }
    .head{
        grid-column: 3/4;
        justify-self:center;
   }
    .mi{
   }
    .stgrey2{
        border-top: 0rem solid var(--text-lil-color);
        border-bottom: 0rem solid var(--text-lil-color);
        padding-top: 0rem;
        padding-bottom: 0rem;
   }
    .stgrey3{
        border-bottom: 0.1rem solid var(--text-lil-color);
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
   }
    .head_under{
        margin-top: 0;
   }
   /* секция-1 описываем верх без изменений */
    .tube2{
        display: none;
   }
    .tube3{
        display: block;
        grid-area: tub;
        margin-top: 10rem;
        align-self: stretch;
   }
    .tube3 img{
        display: block;
        object-fit: fill;
   }
   /* секция-2 серая штука */
   /* секция-3 товары на белом фоне без изменений */
    .products {
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-row: 1fr;
        padding-left:4%;
   }
   /* секция-4 серая карусель */
   /* футер */
}
@media screen and (min-width: 1200px) {
    .wrapper {
        /* max-width: 1140px; */
   }
}
